<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CapaPresentacion.cambios" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CapaPresentacion.cambios>
            <setting name="dato1" serializeAs="String">
                <value>primero</value>
            </setting>
            <setting name="ClaveProducto" serializeAs="String">
                <value />
            </setting>
            <setting name="FechaVencimiento" serializeAs="String">
                <value />
            </setting>
            <setting name="TituloTicket" serializeAs="String">
                <value>ESTO VA A SER UN TITULO LARGO PARA VER QUE PASA</value>
            </setting>
            <setting name="Linea1" serializeAs="String">
                <value>NO NEGOCIABLE</value>
            </setting>
            <setting name="Linea2" serializeAs="String">
                <value>NO REEMBOLSABLE</value>
            </setting>
            <setting name="Linea3" serializeAs="String">
                <value>NO RECLAMABLE</value>
            </setting>
            <setting name="Correo" serializeAs="String">
                <value>pablodelhip@gmail.com</value>
            </setting>
            <setting name="NumeroMensajesSMS" serializeAs="String">
                <value>0</value>
            </setting>
        </CapaPresentacion.cambios>
    </userSettings>
</configuration>